.todoitems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;
}

.todoitems__container{
    display: flex;
}

.todoitem__text{
    padding-left: 16px;
    color: #404040;
    font-size: 22px;
}

.todoitems__cross__icon{
    cursor: pointer;
    padding-right: 25px;
}