.todo{
    max-width: 600px;
    min-height: 600px;
    border-radius: 20px;
    background-color: #fff;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.todo__header{
    margin-top: 20px;
    color: #002765;
    font-size: 36px;
    font-weight: 600;
    line-height: 34px;
}

.todo__add{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.todo__input{
    border-radius: 50px;
    background: #edeef0;
    border: none;
    outline: none;
    width: 576px;
    height: 60px;
    padding-left: 35px;
    font-size: 20px;
}

.todo__add__btn{
    border-radius: 50px;
    background: orange;
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -100px;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}
